{% layout none %}
<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>
    <link rel="stylesheet" href="{{ 'gift-card.css' | asset_url }}">
  </head>

  <body>
    <div class="gift-card">
      <header class="gift-card__header">
        <h1>{{ shop.name }}</h1>
      </header>
      <main class="gift-card__main">
        <div class="gift-card__amount">
          <h2>{{ formatted_initial_value }}</h2>
        </div>
        {% if gift_card.balance != gift_card.initial_value %}
          <p class="gift-card__balance">
            {{ 'gift_cards.issued.remaining_html' | t: balance: gift_card.balance | money }}
          </p>
        {% endif %}
        <div class="gift-card__number">
          <p>{{ gift_card.code | format_code }}</p>
        </div>
        {% if gift_card.expired %}
          <p class="gift-card__expired">{{ 'gift_cards.issued.expired' | t }}</p>
        {% endif %}
      </main>
    </div>
  </body>
</html> 